body {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#stats {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 3em auto -3em auto;
}

#stats img {
    height: 40px;

}

#win {
    display: none;
}

#game-over {
    display: none;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(205, 50, 197, 0.9);
    
}

#game-over h1 {
    margin-top: 10em;
}

.overlay h2 {
    margin-top: 10em;
}

button {
    height: 3em;
    border-radius: 5px;
    padding: 0.5em;
    cursor: pointer;
    border: none;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
    background-color: yellow;
}

